<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>COOKIE</h1>
    <a href="/setCookie">Set Cookie</a>
    <a href="/viewCookie">View Cookie</a>
    <a href="/deleteCookie">Delete Cookie</a>
</body>
</html>