<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <h1>Comment</h1>
    <a href="/comments">Comments List</a>
    <div><%= comment.userid %></div>
    <div><%= comment.date %></div>
    <div><%= comment.comment %></div>
</body>
</html>