<!DOCTYPE html>
<html lang="en">
  <%- include('head', { title: 'EX' })%>
  <body>
    <h1>Secure Register and Login</h1>
    <br>
    <% if(true) { %>
    <a href="./">Home</a>
    <a href="./register">Register</a>
    <% } %>
  </body>
</html>