<!DOCTYPE html>
<html lang="en">
  <%- include('head', { title: 'EX' })%>
  <body>
    <h1>Secure Login</h1>
    <form action="login">
        <input type="text" name="id" id="id" placeholder="ID">
        <input type="password" name="pw" id="pw" placeholder="password">
        <button type="submit">Login</button>
    </form>
    <br>
    <a href="./">Home</a>
    <a href="./register">Register</a>
  </body>
</html>