<!DOCTYPE html>
<html lang="en">
  <%- include('head', { title: 'EX' })%>
  <body>
    <h1>Register</h1>
    <form action="register">
        <input type="text" name="id" id="id" placeholder="ID">
        <input type="password" name="pw" id="pw" placeholder="Password">
        <input type="text" name="name" id="name" placeholder="Name">
        <button type="submit">Register</button>
    </form>
    <br>
    <a href="./">Home</a>
    <a href="./login">Login</a>
  </body>
</html>