body {
    background-color: antiquewhite;
}

.flags {
    position: relative;
    top: 400px;
    left: 100px;
    width: 1000px;
    height: 1000px;
}

.absolute {
    position: absolute;
    transform: rotate3d(-1, 1, -1, 40deg);
    transition: 1s 0.3s;
}

.france {
    left: 0px;
}

.italy {
    left: 300px;
}

.korea {
    left: 600px;
}

.absolute:hover {
    transform: skewY(0);
    z-index: 5;
}



