body {
    background-color: whitesmoke;
}

div {
    width: 100px;
    height: 100px;
    background-color: olive;
    border: 1px solid white;
    transition: 1s .5s
}

.first:hover {
    transform: scaleX(-3);
}

.second:hover {
    transform: skewX(-30deg);
    background-color: rgb(56, 95, 56);
}
