.outer-box {
    width: 400px;
    height: 400px;
    background-color: palegoldenrod;
}

.inner-box {
    width: 150px;
    height: 150px;
    background-color: palevioletred;
}

.first-box {
    position: relative;
}

.first-box > .inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-box {
    display: flex;
    justify-content: center;
    align-items: center;
}






