/* 
    첫번째 lorem의 줄바꿈으로 인해 부드럽지 않은 두번재 div의 animation?
*/

body {
    background-color: rgb(224, 224, 224);    
}

.left {
    animation: text-swipe-left 10s;
    animation-iteration-count: infinite;
    width: 100%;
}

.blank {
    position: fixed;
    /* height: 10vh; */
    width: 100%;
    animation: 10s ease-out 0.5s smooth-move;
    animation-iteration-count: infinite;
    background-color: palegreen;
}

.right {
    animation: 10s linear 0.5s text-swipe-right;
    animation-iteration-count: infinite;
    font-size: 100px;
}

@keyframes text-swipe-left {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0px;
        width: 50%;
        color: palevioletred;
        font-weight: 900; 
    }
}

@keyframes smooth-move {
    0% {
        top: 0px;
    }
    
    30% {
        top: 100px;
    }

    100% {
        top: 300px;
    }
}

@keyframes text-swipe-right {
    from {
        transform: translateX(100%);
        width: 100%;
    }

    to {
        transform: translateX(-100%);
        width: 100%;
    }
}