/* 
    overflow
    - 컨텐츠가 너무 크거나 / 길어서 크기보다 넘치게 되면?
    
    - visible: 벗어난 부분 표시 (default)
    - hidden: 벗어난 부분 숨김
    - scroll: 스크롤 생성
    - auto: 넘친다면 scroll, 안넘치면 scroll 없이.
*/

/* 
    overflow-x
    - 수평방향으로 넘칠때 
*/

.box{
    width: 300px;
    height: 100px;
    background-color: paleturquoise;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */

    /* overflow-x: hidden; */
    overflow-y: scroll;
}