<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title_create %></title>
</head>
<body>
    <nav>
        <div><a href="/">
            My Blog
        </a></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>

    <div>
        <h1>Create</h1>
    </div>
</body>
</html>