<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title_index %></title>
</head>
<body>
    <nav>
        <div><a href="/">
            My Blog
        </a></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>

    <div>
        <h1>Home</h1>
    </div>
    <!-- <%# Comment %>
    <% for (let i = 0; i < 5; i++) { %>
        <h3>Hello world!</h3>
    <% } %> -->
</body>
</html>